/* Import Google font - Poppins */
/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap"); */

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --white-color: #fff;
  --blue-color: #4070f4;
  --grey-color: #707070;
  --grey-color-light: #aaa;
} */

body {
  --white-color: #fff;
  --blue-color: #4070f4;
  --grey-color: #707070;
  --grey-color-light: #aaa;
}

body {
  background-color: #e7f2fd;
  transition: all 0.5s ease;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body.dark {
  background-color: #333;
  color: #fff;
}

body.dark {
  --white-color: #333;
  --blue-color: #fff;
  --grey-color: #f2f2f2;
  --grey-color-light: #aaa;
}

body.dark .card {
  background-color: #333;
  color: #fff;
}

body.dark .card {
  --white-color: #333;
  --blue-color: #fff;
  --grey-color: #f2f2f2;
  --grey-color-light: #aaa;
}

body.dark .dropdown-menu {
  background-color: #333;
  color: #ffffff;
}

body.dark .dropdown-menu span {
  color: #ffffff;
}

body.dark .dropdown-menu a:hover {
  color: #000000 !important;
  background: #868686 !important;
}

body.dark table tr th {
  color: #ffffff !important;
  background: #333 !important;
}

body.dark table tr td {
  color: #ffffff !important;
  background: #333 !important;
}

body.dark .pagination .page-item {
  color: #ffffff !important;
  background: #333 !important;
}

body.dark .input-group .form-control {
  color: #ffffff !important;
  background: #333 !important;
}

body.dark .jumlah-data {
  color: #ffffff !important;
  background: #333 !important;
  outline-width: 1pt;
  outline-color: #333;
  border-radius: 3px;
}

body.dark .jumlah-absensi {
  color: #ffffff !important;
  background: #333 !important;
  outline-width: 1pt;
  outline-color: #333;
  border-radius: 3px;
}

body.dark .modal-content {
  color: #ffffff !important;
  background: #333 !important;
}

body.dark .dropdown,
body.dark .dropdown label,
body.dark .dropdown input[type="date"] {
  background-color: #333 !important;
  /* Warna latar belakang */
  color: #fff !important;
  /* Warna teks */
  color-scheme: dark;
}

body.dark .password-container input,
body.dark .password-container i {
  color: #ffffff !important;
  background: #333 !important;
}

.input-group .fa {
  position: relative;
  top: -0.3rem;
}

body.dark .input-group .form-control::-webkit-input-placeholder {
  color: #ffffff !important;
  background: #333 !important;
}

/* navbar */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  background-color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  z-index: 1000;
  box-shadow: 0 0 2px var(--grey-color-light);
}

.logo_item {
  display: flex;
  align-items: center;
  column-gap: 10px;
  /* font-size: 22px; */
  /* font-weight: 500; */
  /* color: var(--blue-color); */
}

.logo_item form {
  min-width: fit-content;
}

.logo_item label {
  margin-left: 10px;
  font-size: small;
}

.custom-switch {
  transform: scale(1.3);
}

.navbar img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.navbar_content {
  display: flex;
  align-items: center;
  column-gap: 25px;
  /* overflow: hidden; */
}

.navbar_content i {
  cursor: pointer;
  font-size: 20px;
  color: var(--grey-color);
}

.dropdown {
  display: inline-block;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu a:hover {
  color: #fff !important;
}

.dropdown-menu {
  position: absolute;
  /* display: none; */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  background-color: #ffffff;
  border: 1px solid transparent !important;
  -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
}

.dropdown-menu a {
  color: #3c3c3c !important;
}

.dropdown-menu a:hover {
  color: #232323 !important;
  background: #f3f3f3 !important;
}

.dropdown-item .fa-solid {
  font-size: 10pt;
  /* height: 50%; */
}

.dropdown-item span {
  margin-left: 10px;
  font-size: 9pt;
  font-weight: 500;
  text-transform: uppercase;
}

.me-6 {
  margin-right: 6rem;
}

.nav-link span {
  font-size: medium;
  margin-right: 3rem;
}

.nav-link img {
  margin-right: 2rem;
}

/* sidebar */
.content {
  transition: all 0.5s ease;
  margin-left: 260px;
  /* Margin kiri saat sidebar terbuka */
  margin-top: 4rem;
  margin-right: 2rem;
}

.sidebar.close+.content {
  margin-left: 100px;
  /* Margin kiri saat sidebar tertutup */
}

.sidebar.close {
  padding: 60px 0;
  width: 80px;
}

.sidebar {
  background-color: var(--white-color);
  width: 240px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  padding: 60px 10px;
  z-index: 100;
  overflow-x: hidden;
  overflow-y: scroll;
  white-space: nowrap;
  box-shadow: 0 0 1px var(--grey-color-light);
  transition: all 0.5s ease;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.menu_content {
  position: relative;
}

.menu_title {
  margin: 10px 0;
  padding: 0 20px;
  font-size: 12pt;
}

.sidebar.close .menu_title {
  padding: 6px 30px;
}

.menu_title::before {
  color: var(--grey-color);
  white-space: nowrap;
}

.menu_dahsboard::before {
  content: "Dashboard";
}

.menu_editor::before {
  content: "Data";
}

.menu_setting::before {
  content: "Setting";
}

.sidebar.close .menu_title::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 18px;
  border-radius: 12px;
  background: var(--grey-color-light);
}

.menu_items {
  padding: 0;
  list-style: none;
}

.navlink {
  font-size: 11pt;
}

.navlink_icon {
  position: relative;
  font-size: 12pt;
  min-width: 50px;
  line-height: 35px;
  display: inline-block;
  text-align: center;
  border-radius: 6px;
}

.navlink_icon::before {
  content: "";
  position: absolute;
  height: 100%;
  width: calc(100% + 100px);
  left: -20px;
}

.navlink_icon:hover {
  background: var(--blue-color);
}

.sidebar .nav_link {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 4px 15px;
  border-radius: 8px;
  text-decoration: none;
  color: var(--grey-color);
  white-space: nowrap;
}

.sidebar.close .navlink {
  display: none;
}

.nav_link:hover {
  color: var(--white-color);
  background: var(--blue-color);
}

.sidebar.close .nav_link:hover {
  background: var(--white-color);
}

.submenu_item {
  cursor: pointer;
}

.submenu {
  display: none;
}

.submenu_item .arrow-left {
  position: absolute;
  right: 10px;
  display: inline-block;
  margin-right: auto;
}

.sidebar.close .submenu {
  display: none;
}

.show_submenu~.submenu {
  display: block;
}

.show_submenu .arrow-left {
  transform: rotate(90deg);
}

.submenu .sublink {
  padding: 15px 15px 15px 52px;
}

.bottom_content {
  position: fixed;
  bottom: 60px;
  left: 0;
  width: 240px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.bottom {
  position: absolute;
  display: flex;
  align-items: center;
  left: 0;
  justify-content: space-around;
  padding: 18px 0;
  text-align: center;
  width: 100%;
  color: var(--grey-color);
  border-top: 1px solid var(--grey-color-light);
  background-color: var(--white-color);
}

.bottom i {
  font-size: 15pt;
}

.bottom span {
  font-size: 12pt;
}

.sidebar.close .bottom_content {
  width: 50px;
  left: 15px;
}

.sidebar.close .bottom span {
  display: none;
}

.sidebar.hoverable .collapse_sidebar {
  display: none;
}

#sidebarOpen {
  display: none;
}

@media screen and (max-width: 768px) {
  #sidebarOpen {
    font-size: 25px;
    display: block;
    margin-right: 10px;
    cursor: pointer;
    color: var(--grey-color);
  }

  .sidebar.close {
    left: -100%;
  }

  .search_bar {
    display: none;
  }

  .sidebar.close .bottom_content {
    left: -100%;
  }

  .sidebar.close+.content {
    margin-left: 2rem;
    /* Margin kiri saat sidebar tertutup */
    margin-right: 2rem;
  }
}

.card {
  min-width: min-content;
}

.card h5 {
  font-weight: 700;
}

.dropdown select,
.dropdown option,
.dropdown label,
.dropdown input[type="date"] {
  font-size: 10pt;
}

.dropdown input[type="date"] {
  font-size: 10pt;
}

.table tr th {
  background-color: rgba(1, 4, 136, 0.9);
  color: #fff;
  padding: 0.5rem;
  font-size: 10pt;
}

.table tr td {
  display: table-cell;
  font-size: 10pt;
}

/* .table tr th {
  background-color: #4070f4;
} */
button i,
.unduh i {
  font-size: 13pt;
  vertical-align: middle;
}

button span,
.unduh span {
  font-weight: 500;
  font-size: 10pt;
}

.password-container {
  position: relative;
}

.password-text {
  display: inline-block;
  border: none;
  background-color: transparent;
  text-align: center;
}

.toggle-password-icon {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  cursor: pointer;
}

/* search */
.input-text:focus {
  box-shadow: 0px 0px 0px;
  border-color: #b5b5b5;
  outline: 0px;
}

.form-control {
  border-radius: 5px;
  border: 1px solid #b5b5b5;
}

.form-control .btn {
  border-radius: 0;
}

/* content */
.jumlah-data {
  display: inline;
  position: absolute;
  top: 1.7rem;
  right: 2rem;
  width: fit-content;
  height: fit-content;
  font-size: 8pt;
  color: #fd7e14;
  background-color: #fd7d143a;
  outline-style: solid;
  outline-width: 1pt;
  outline-color: #fd7e14;
  border-radius: 3px;
}

.swal2-popup {
  max-height: 400px;
  overflow-y: auto;
}

/* .swal2-confirmButton{
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* Modal */
.modal.fade .modal-dialog {
  transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.modal-dialog {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 10px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
  height: 170px;
  width: 400px;
}

.modal-content .modal-header h5 {
  font-size: 12pt;
}

.modal-body {
  display: flex;
  align-items: center;
}

.modal-body .form-group input[type="file"] {
  width: 15rem;
  height: 2rem;
  font-size: 10pt;
}

.modal-footer .btn {
  width: fit-content;
  height: fit-content;
  font-size: 10pt;
  padding: 6px;
}